<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page <%= 1+4+5 %>  </h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea corporis aliquid molestiae nam? Quidem doloribus doloremque, vel animi veritatis nesciunt aspernatur ut adipisci sed est consequatur ad quia quas quod.</p> 

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio recusandae magni fugit? Libero est pariatur inventore illum quibusdam, soluta fuga molestiae perspiciatis. Sunt eligendi animi itaque voluptatibus fugit esse nulla!</p>


</body>

</html>