<%- include('partials/head.ejs') %>


<body>
    <%- include('partials/navbar.ejs') %>
    <h1>All the cats</h1>
    <p><%= cats  %> </p>
    <ul>
        <%   for(let cat of cats){ %>
        <li><%=cat%></li>
        <% } %>
    </ul>
</body>

</html>